<!-- Confetti Component - Triggers automatically -->
<app-confetti></app-confetti>

<!-- Gift Corner Component -->


<!-- Router outlet for future routing -->
<router-outlet />

<app-gift-corner></app-gift-corner>

<!-- Birthday Wishes Board -->
<!-- <app-birthday-wishes></app-birthday-wishes> -->

<!-- Why She's Amazing -->
<app-amazing-reasons></app-amazing-reasons>

<!-- Movie Reel Component -->
<app-movie></app-movie>

<!-- Hobbies floating effect (bottom-left) -->
<app-hobbies></app-hobbies>
